soccer-data/processed_data/game_data.csv filter=lfs diff=lfs merge=lfs -text
soccer-data/full_game_data.csv filter=lfs diff=lfs merge=lfs -text
soccer-data/full_player_data.csv filter=lfs diff=lfs merge=lfs -text
